/* define variables for use with any html element */
:root { /* targets the top-most parent element (likely <html> element */
    /* color palette */
    --color-one: #ffffff;
    --color-two: #f8f8f8;
    --color-three: #ffc74c;
    --color-four: #39a6b2;

    --text-color-one: #ffffff; /* rgb */
    --text-color-two: #2d3235; /* rgb 45, 50, 53 */
    --text-color-three: #ffc74c; /* rgb 255, 199, 76 */

    /* colors selected from header image for potential use */
    --work-color-one: #ffc74c; /* rgb 255, 199, 76 */
    --work-color-two: #4fc396; /* rgb 79, 195, 150 */
    --work-color-three: #c3ae7f; /* rgb 195, 174, 127 */
    --work-color-four: #8e9faf; /* rgb 142, 159, 175 */
    --work-color-five: #a1696c; /* rgb 161, 105, 108 */
    --work-color-six: #fed873; /* rgb 254, 216, 115 */
    --work-color-seven: #bd2f23; /* rgb 189, 47, 35 */
    --work-color-eight: #7b6b5e; /* rgb 123, 107, 94 */
    --work-color-nine: #567d68; /* rgb 86, 125, 104 */
    --work-color-ten: #b1b5c0; /* rgb 177, 181, 192 */
}

/* remove default browser-enforced styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* apply styles to body */
body {
    font-family: Helvetica, Arial, sans-serif;
}

/* utility classes */
.flex-container {
    display: flex;
    flex-wrap: wrap;
}

/* apply styles to header */
header {
    background-image: url("../images/stylish-man-with-umbrella-5120x2550.jpg");
    background-size: cover;
    background-position: bottom;
    color: var(--text-color-one);
    padding: 5% 10%;
}
header h1 {
    font-weight: 300;
    font-size: 30px;
    text-shadow: 0 1px 3px rgba(0, 0, 0 0.5);
    margin-bottom: 5px;
}
header h2 {
    font-weight: 200;
    font-style: italic;
    font-size: 15px;
    text-shadow: 0 1px 2px rgba(0, 0, 0 0.5);
    margin-bottom: 30px;
}
.header-content {
    flex-direction: row;
    align-content: left;
    margin-top: 15%;
    margin-right: 20px;
}
.photo-container {
    margin-right: 5%;
}
nav {
    margin-top: 30px;
}
header nav ul li {
    list-style: none;
}
header nav ul li a {
    font-weight: 400;
    font-size: 18px;
    padding-bottom: 5px;
    color: var(--text-color-one);
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    text-decoration: none;
}
header nav ul li a:hover {
    font-weight: 500;
    color: var(--text-color-three);
    border-bottom: 2px solid var(--text-color-three);
}

/* apply styles to About Me section */
.about-me-section {
    background: var(--color-one);
    width: 100%;
    margin: 0 auto;
    padding: 4% 0 20px 0;
    justify-content: left;
    align-items: center;
}
.about-me-title {
    width: 33.333%;
    padding-left: 10%;
    padding-right: 0px;
}
.about-me-title h2 {
    font-size: 22px;
    font-weight: 520;
    color: var(--text-color-two);
    padding-top: 0%
}
.about-me-text {
    height: 100%;
    width: 66.666%;
    line-height: 1.5;
    margin: 0px;
    padding-left: 25px;
    padding-right: 10%;
    border-left: 1px solid var(--text-color-two);
}

/* apply styles to Contact Me section */
.contact-me-section {
    background-color: var(--color-one);
    width: 100%;
    margin: 0 auto;
    padding: 0 0 4% 0;
    justify-content: left;
    align-items: center;
}
.contact-me-title {
    width: 33.333%;
    padding-left: 10%;
    padding-right: 0px;
    border-right: 1px solid var(--text-color-two);
}
.contact-me-title h2 {
    font-size: 22px;
    font-weight: 520;
    color: var(--text-color-two);
    padding-top: 0%;
}
.contact-me-text {
    height: 100%;
    width: 66.666%;
    color: var(--text-color-two);
    margin: 0px;
    padding-left: 25px;
    padding-right: 10%;
}
/* apply styles to Featured Work section */
#my-work {
    background-color: var(--color-two);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10%;
    padding-right: 0;
}
.featured-work-section {
    width: 100%;
    margin: 0 auto;
    padding: 0 0 0 0;
    justify-content:left;
    align-items: top;
}
.featured-work-text {
    width: 33.3%;
    margin: 0px;
}
.featured-work-text h1 {
    font-size: 22px;
    font-weight: 520;
    color: var(--text-color-two);
    text-shadow: 0 0 10px rgba(0, 0, 0 0.5);
    margin-top: 50px;
    margin-bottom: 80px;
}
.featured-work-text h2 {
    font-size: 18px;
    font-weight: 520;
    color: var(--text-color-two);
    margin-top: 50px;
    padding-bottom: 10px;
}
.featured-work-text p {
    color: var(--text-color-two)
}
.featured-work-image {
    width: 65%;
    margin: 5px;
    background-size: contain;
    background-repeat: no-repeat;
    text-decoration: none;
    background-image: url("../images/run-buddy-screenshot.jpg");
}
.featured-work-image img {
    width: 100%;
    height: auto;
}

/* apply styles to My Work section */
.my-work-etc {
    background-color: var(--color-two);
    padding: 15px 0px;
}
.work-portfolio {
    margin: 0 auto;
    justify-content:space-between;
}
.work {
    width: 31.333%;
    margin: 5px;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    text-decoration: none;
}
.center {
    background:rgba(255, 255, 255, 0.8);
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10%;
}
.work h1 {
    font-size: 25px;
    font-weight: 520;
    color: var(--text-color-two);
    text-shadow: 0 0 10px rgba(0, 0, 0 0.5);
    padding-bottom: 5px;
}
.work h2 {
    font-size: 18px;
    font-weight: 520;
    font-style: italic;
    color: var(--text-color-two);
    padding-bottom: 10px;
}
.work p {
    color: var(--text-color-two)
}
.work-one {
    background-image: url("../images/stylish-man-with-umbrella-5120x2550.jpg");
}
.work-one:hover {
    background-image: url("../images/run-buddy-screenshot.jpg");
}
.work-two {
    background-image: url("../images/movie-moods-screenshot-65%-opacity.jpg");
}
.work-two:hover {
    background-image: url("../images/movie-moods-screenshot.jpg");
}
.work-three {
    background-image: url("../images/stylish-man-with-umbrella-5120x2550.jpg");
}
.work-four {
    background-image: url("../images/stylish-man-with-umbrella-2560x1600-65%-opacity.jpg");
}
.work-five {
    background-image: url("../images/stylish-man-with-umbrella-2560x1600-65%-opacity.jpg");
}
.work-six {
    background-image: url("../images/stylish-man-with-umbrella-2560x1600-65%-opacity.jpg");
}
.work-seven {
    background-image: url("../images/stylish-man-with-umbrella-2560x1600-65%-opacity.jpg");
}
.work-eight {
    background-image: url("../images/stylish-man-with-umbrella-2560x1600-65%-opacity.jpg");
}
.work-nine {
    background-image: url("../images/stylish-man-with-umbrella-2560x1600-65%-opacity.jpg");
}

/* apply styles to footer */
footer {
    height: 100px;
    background-color: var(--color-three);
    padding: 5px 10%;
}
footer h2 {
    font-size: 18px;
    font-weight: 520;
    color: var(--text-color-two);
    text-align: center;
}